<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>успех</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .container {
            width: 50%;
            border: 1px solid #000000; padding: 8px; margin: 3px auto;
            color:#000000; line-height:1.5; font-family:serif;
        }
    </style>
</head>
<body>

<div th:if="${OK}">
    Представление добавлено
</div>

<div th:if="${!OK}">
    Представление не может быть добавлено. Проверьте, что время начала и время конца заданы корректно
</div>

<a href="/contentmaker/">
    Выход
</a>

</body>
</html>
