<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:if="${OK}">
        успех
    </title>
    <title th:if="${!OK}">
        ошибка
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:if="${OK}">
    Представление добавлено
</div>

<div th:if="${!OK}">
    Представление не может быть добавлено. Проверьте, что время начала и время конца заданы корректно<br>
    <div th:if="${TIMEC != null}">
        Вероятно, оно пересекается по времени с другим представлением выбранного холла<br>
    </div>
</div>

<a href="/contentmaker/">
    Выход
</a>

</body>
</html>
