<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:each="perf : ${allPerformances}">
    <a th:href="'/performance?PerformanceID=' + ${perf.getPerformance_id()}">perf</a>
    <a th:href="'/theater?TheaterID=' + ${perf.getTheater_id()}"><span>[[${perf.getTheater_name()}]]</span></a>
    <a th:href="'/play?PlayID=' + ${perf.getPlay_id()}"><span>[[${perf.getPlay_name()}]]</span></a><br>
</div>

</body>
</html>
