<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .container {
            width: 50%;
            border: 1px solid #000000; padding: 8px; margin: 3px auto;
            color:#000000; line-height:1.5; font-family:serif;
        }
    </style>
</head>
<body>

<a href="/expert/">
    войти как эксперт <br>
</a>
<a href="/contentmaker/">
    войти как создающий представления <br>
</a>
<a href="/cashier/">
    войти как бронер билетов <br>
</a>

<br><br>

<form th:action="@{/find_string}"
      method="get"
      class="form-group">
    <input th:id="'line_find'"
           name="SubString"
           placeholder="Введите название пьесы/театра"
           class="form-control"/>
    <input th:id="submit_1"
           type="submit"
           value="найти по строке"
           class ="btn btn-primary"/>
</form>

<br>


<div th:if="${TIMEC != null}">
    Время задано некорректно.
</div>

<fieldset id="Enum">
<form th:action="@{/find_parameter}"
      method="get"
      class="form-group">

    <input name="Start"
           placeholder="1970-01-01 00:00:00"
           class="form-control"
           th:id="start_time"/>

    <input name="End"
           placeholder="1970-01-01 00:00:00"
           class="form-control"
           th:id="end_time"/>

    <input type="radio"
           value="tragedy"
           name="Enum"
           id="tragedy"> Трагедия<br>
    <input type="radio"
           value="comedy"
           name="Enum"
           id="comedy"> Комедия<br>
    <input type="radio"
           value="drama"
           name="Enum"
           id="drama">Драма<br>
    <input type="radio"
           value="no"
           name="Enum"
           id="no_genre"
           checked>не важен<br>

    <input th:id="'submit_2'"
           type="submit"
           value="найти по параметрам"
           class ="btn btn-primary"/>
</form>
</fieldset>

<div class="container"
     th:each="perf : ${allPerformances}"
     th:id="'container_' + ${perf.getPerformance_id()}">

    <a th:href="'/theater?TheaterID=' + ${perf.getTheater_id()}"
       th:id="'th_' + ${perf.getTheater_id()}">
        [[${perf.getTheater_name()}]]
    </a><br>
    <a th:href="'/play?PlayID=' + ${perf.getPlay_id()}"
       th:id="'play_' + ${perf.getPlay_id()}">
        [[${perf.getPlay_name()}]]
    </a><br>
    <a th:href="'/performance?PerformanceID=' + ${perf.getPerformance_id()}"
       th:id="'perf_' + ${perf.getPerformance_id()}">
        see or buy tickets
    </a><br>
    Начало [[${perf.getStart_time()}]]<br>
    Конец [[${perf.getEnd_time()}]]<br>
    В ролях:<br>
    <div th:each="actor : ${actorDao.findByPlay(perf.getPlay_id())}">
        -[[${manDao.findById(actor.getMan_id()).getName()}]]<br>
    </div>
    Свободных мест: [[${freeSeatsDao.findByPerformance(perf.getPerformance_id()).size()}]]

</div>


</body>
</html>
