<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Оплата</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form th:action="@{/pay}"
      method="get"
      class="form-group">
    <input name="Name"
           placeholder="Введите имя"
           class="form-control"/>
    <input name="CardNumber"
           placeholder="Введите номер карты"
           class="form-control"/>
    <input type="hidden"
           name="PerformanceID"
           th:value="${thisPlace.getPerformance_id()}"
           class="form-control"/>
    <input type="hidden"
           name="SeatID"
           th:value="${thisPlace.getSeat_id()}"
           class="form-control"/>
    <input type="submit"
           value="Купить билет"
           th:id="submit_it"
           class ="btn btn-primary"/>
</form>

</body>
</html>
