<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>[[${thisPerformance.getPlay_name()}]]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:with="perf = ${thisPerformance}">
    [[${perf.getPlay_name()}]]<br>
    [[${perf.getStart_time()}]]<br>
    [[${perf.getEnd_time()}]]<br>
    <div th:each="place : ${allPlaces}">
        ряд [[${place.getSeat_raw()}]],&emsp;
        место [[${place.getSeat_place()}]],&emsp;
        [[${place.getSeat_type()}]],&emsp;
        [[${place.getPrice()}]] р,&emsp;
        <a th:href="'/payment?PerformanceID=' + ${place.getPerformance_id()} + '&SeatID=' + ${place.getSeat_id()}">
            купить место
        </a>
        <br>
    </div>
</div>

</body>
</html>
