<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>[[${thisPlay.getName()}]]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .container {
            width: 50%;
            border: 1px solid #000000; padding: 8px; margin: 3px auto;
            color:#000000; line-height:1.5; font-family:serif;
        }
    </style>
</head>
<body>

<div th:with="play = ${thisPlay}">
    Пьеса [[${play.getName()}]]<br>
    Жанр: [[${play.getGenre()}]]<br>
    [[${Regesseur.getName()}]], [[${play.getRelease_year()}]]<br><br>
    [[${play.getAnnotation()}]]<br><br>
</div>

<div th:each="perf : ${allPerf}"
     class="container">
    [[${perf.getStart_time()}]]<br>
    [[${perf.getEnd_time()}]]
    <a th:href="'/performance?PerformanceID=' + ${perf.getPerformance_id()}">
        Купить билет!
    </a><br>
</div>

</body>
</html>
